<!-- Capture Shareholders -->
<div id="userRegistration"  class="container spacer create">
  <div class="registration">
    <form (ngSubmit)="gotoCompany()" #registerForm="ngForm">
      <h3 class="text-center wowload fadeInUp">Company Registration</h3>
      <div class="row">
        <div class="col-sm-4">
          <h5><i class="fa fa-user"></i><span><b>&nbsp;&nbsp;&nbsp;Step 1: Capture shareholder(s) / owner(s) info</b></span></h5>
        </div>
        <div class="col-sm-4">
          <h5><i class="fa fa-building"></i><b>&nbsp;&nbsp;&nbsp;Step 2: Capture company details  </b></h5>
        </div>
        <div class="col-sm-4">
          <h5><i class="fa fa-file-text"></i><b>&nbsp;&nbsp;&nbsp;Step 3: Upload supporting documents</b></h5>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-sm-12">Personal Details<br><br></div>
        <div class="col-sm-12">
          <div class="col-sm-4">
            <input class="form-control" [(ngModel)]="model.usertitle" type="text" id="title" name="title" minlength="2" placeholder="Title" required>
            <div  class="alert" *ngIf="!registerForm.controls['title'].valid && (registerForm.controls['title'].dirty ||registerForm.controls['title'].touched)">Title Required</div>
          </div>

          <div class="col-sm-4">
            <input type="text" class="form-control" id="name" [(ngModel)]="model.username" name="name" placeholder="Name" #name="ngModel" required>
            <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)"
                 class="alert alert-danger">
              <div *ngIf="name.errors.required">
              Name is required.
               </div>
               <div *ngIf="name.errors.minlength">
                 Name must be at least 4 characters long.
               </div>
               <div *ngIf="name.errors.forbiddenName">
                 Name cannot be Bob.
               </div>

            </div>-->
            <div class="alert" *ngIf="!registerForm.controls['name'].valid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)">Name Required</div>

          </div>

          <div class="col-sm-4">
            <input type="text" class="form-control" id="surname" name="surname" [(ngModel)]="model.usersurname" placeholder="Surname" required>
            <div class="alert" *ngIf="!registerForm.controls['surname'].valid && (registerForm.controls['surname'].dirty || registerForm.controls['surname'].touched)">Surname Required</div>
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="position" name="position" [(ngModel)]="model.userposition"  placeholder="Position" required>
            <div class="alert" *ngIf="!registerForm.controls['position'].valid && (registerForm.controls['position'].dirty || registerForm.controls['position'].touched)">Position Required</div>
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control"  id="idnumber" name="idnumber" [(ngModel)]="model.useridnumber" placeholder="ID Number" required>
            <div class="alert" *ngIf="!registerForm.controls['idnumber'].valid && (registerForm.controls['idnumber'].dirty || registerForm.controls['idnumber'].touched)">ID Number Required</div>
          </div>
          <div class="col-sm-4">
            <select class="form-control" id="gender" name="gender" [(ngModel)]="model.userservice" required>
              <option value="G">Gender</option>
              <option value="M">Male</option>
              <option value="F">Female</option>
            <!--  <option *ngFor="let service of services" [value]="service">{{service}}</option>-->
            </select>
          </div>
         <!-- {{diagnostic}}{{submitted}}-->

        </div>

      </div>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><p><button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;&nbsp;Continue</button></p></div>
        <div class="col-sm-4"></div>
      </div>
    </form>
  </div>
</div>
