<!-- Capture Shareholders -->
<div id="userRegistration"  class="container spacer create">
  <div class="registration ">
    <h3 class="text-center wowload fadeInUp">Company Registration</h3>
  <div class="row">
    <div class="col-sm-4">
      <h5><i class="fa fa-user"></i><span><b>&nbsp;&nbsp;&nbsp;Step 1: Capture shareholder(s) / owner(s) info</b></span></h5>
    </div>
    <div class="col-sm-4">
      <h5><i class="fa fa-building"></i><b>&nbsp;&nbsp;&nbsp;Step 2: Capture company details  </b></h5>
    </div>
    <div class="col-sm-4">
      <h5><i class="fa fa-file-text"></i><b>&nbsp;&nbsp;&nbsp;Step 3: Upload supporting documents</b></h5>
    </div>
  </div>
    <br>
    <br>
  <div class="row">
    <div class="col-sm-12">
    <div class="col-sm-4"><input type="text" placeholder="Title"></div>
    <div class="col-sm-4">
      <input type="text" placeholder="Name">
    </div>
    <div class="col-sm-4">
      <input type="text" placeholder="Surname">
    </div>
    <div class="col-sm-4"><input type="text" placeholder="Position"></div>
    <div class="col-sm-4">
      <input type="text" placeholder="ID Number">
    </div>
    <div class="col-sm-4">
      <select type="text" placeholder="Gender">
        <option value="option-1">Gender</option>
        <option value="option-1">Male</option>
        <option value="option-2">Female</option>
      </select>
    </div>
   </div>
  </div>
   <div class="row">
     <div class="col-sm-4"></div>
     <div class="col-sm-4"><p><button class="btn btn-primary" (click)="gotoDetail()"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;&nbsp;Continue</button></p></div>
     <div class="col-sm-4"></div>
   </div>
  </div>
</div>
