<!-- Upload Documents -->
<div id="userRegistration"  class="container spacer create">
  <div class="registration ">
    <h3 class="text-center wowload fadeInUp">Company Registration</h3>
    <div class="row">
      <div class="col-sm-4">
        <h5><i class="fa fa-user"></i><b>&nbsp;&nbsp;&nbsp;Step 1: Capture shareholder(s) / owner(s) info</b></h5>
      </div>
      <div class="col-sm-4">
        <h5><i class="fa fa-building"></i><b>&nbsp;&nbsp;&nbsp;Step 2: Capture company details  </b></h5>
      </div>
      <div class="col-sm-4">
        <h5><i class="fa fa-file-text"></i><span><b>&nbsp;&nbsp;&nbsp;Step 3: Upload supporting documents</b></span></h5>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-4"> <input type="file" placeholder="Upload file..."></div>
        <div class="col-sm-4">
          <input type="file" #inputFile placeholder="Upload file...">
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <input type="file" placeholder="Upload file...">
        </div>
        <div class="col-sm-4">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"><p><button class="btn btn-primary" (click)="gotoCompany()"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;&nbsp;Upload file(s)</button></p></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</div>
