<!-- User Registration-->
<div id="userRegistration"  class="container spacer create">
  <div class="registration">
    <h3 class="text-center wowload fadeInUp">Company Registration</h3>
    <div class="row">
      <div class="col-sm-4">
        <h5><i class="fa fa-user"></i><b>&nbsp;&nbsp;&nbsp;Step 1: Capture shareholder(s) / owner(s) info</b></h5>
      </div>
      <div class="col-sm-4">
        <h5><i class="fa fa-building"></i><b>&nbsp;&nbsp;&nbsp;Step 2: Capture company details  </b></h5>
      </div>
      <div class="col-sm-4">
        <h5><i class="fa fa-file-text"></i><b>&nbsp;&nbsp;&nbsp;Step 3: Upload supporting documents</b></h5>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-4"><p style="background: rgba(225, 225, 225, .8);padding: 10px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></div>
      <div class="col-sm-4"><p  style="background: rgba(225, 225, 225, .8);padding: 10px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></div>
      <div class="col-sm-4"><p  style="background: rgba(225, 225, 225, .8);padding: 10px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></div>
      <div class="col-sm-3"><p><button class="btn btn-primary" (click)="gotoDetail()"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;&nbsp;Continue</button></p></div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>
