button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #020a07;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #d42c1b;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}


