<div id="cu"  class="container spacer about">
  <h2 class="text-center wowload fadeInUp">Contact</h2>
  <div class="row">
    <div class="col-sm-4 wowload fadeInLeft">
      <h4><i class="fa fa-envelope"></i> Address</h4>
      <p>BMF House<br>12 Summer Street<br>Rivonia - Sandton<br>South Africa</p>
    </div>
    <div class="col-sm-4 wowload fadeInLeft">
      <h4><i class="fa fa-phone"></i> Phone</h4>
      <p>+27 11 784 4407<br>+27 10 591 6718</p>
    </div>
    <div  class="col-sm-4 wowload fadeInRight">
      <h4><i class="fa fa-tty"></i> Fax</h4>
      <p>+27 11 234 8670</p>
    </div>
 </div>
 <div class="cols-sm-12"  style="border-top: dotted;"></div>
     <!--Contact Starts-->
       <div class="container contactform center">
         <h2 class="text-center  wowload fadeInUp">Get in touch via email</h2>
         <div class="row wowload fadeInLeftBig">
           <div class="col-sm-6 col-sm-offset-3 col-xs-12">
             <input type="text" placeholder="Name">
             <input type="text" placeholder="Company">
             <textarea rows="5" placeholder="Message"></textarea>
             <button class="btn btn-primary"><i class="fa fa-paper-plane"></i> Send</button>
           </div>
         </div>
     </div>
     <!--Contact Ends-->
</div>
