<div class="container text-center" style="height:25%">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <button class="btn btn-primary" (click)="onSearchUser()" [@searchView]="state"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{nameLabel}}</button>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <br>
    <br>
    <div class="col-sm-12 text-center search">
      <div class="col-sm-4"></div>
        <div id="search" *ngIf="showSearchDiv"  class=" col-sm-4container" style="background: rgba(225, 225, 225, .8)">
          <table>
            <thead>
              <tr><th colspan="2">Company Service Results</th></tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      <div class="col-sm-4"></div>
      </div>
    </div>
</div>

<div id="cu"  class="container spacer user">

  <br>
  <br>

  <h2 class="text-center wowload fadeInUp">Company Profile</h2>


  <div *ngIf="selectedUser"></div>

  <div class="row">
    <div class="col-sm-6 wowload fadeInLeft">
      <ul class="users">
        <li *ngFor="let user of users" [class.selected]="user === selectedUser" (click)="onSelect(user)">
          <span class="badge">{{user.id}}</span> {{user.name}}
        </li>
      </ul>
    </div>
    <div *ngIf="selectedUser">
      <h4><i class="fa fa-user"></i> Passion</h4>
      <div class="col-sm-6 animated fadeInRightBig" style="background: rgba(225, 225, 225, .8)">
      <h4>
       <b><u>{{selectedUser.name | uppercase}}</u></b>
      </h4>
        <p>Status : Active</p>
        <p>Since : 12 August 2003</p>
        <p>Credits : 1000</p>
      </div>
       <p><button (click)="gotoDetail()">View Details</button></p>
    </div>
  </div>
</div>
