<div class="container text-center" style="height:25%">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <button class="btn btn-primary" (click)="onSearchUser()" [@searchView]="state"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{nameLabel}}</button>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <br>
    <br>
    <div *ngIf="showSearchDiv" class="col-sm-12 text-center">
      <input type="text" placeholder="Search..."/>
      <br>
      <br>
    </div>
    <div class="col-sm-12 text-center search">
      <div class="col-sm-4"></div>
      <div id="search" *ngIf="showSearchDiv"  class=" col-sm-4container" style="background: rgba(225, 225, 225, .8)">
          <table>
            <thead>
              <tr><th>ID</th><th>Company Name</th></tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users" [class.selected]="user === selectedUser" (click)="onSelect(user)">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      <div class="col-sm-4"></div>
      </div>
    </div>
</div>

<div id="cu"  class="container spacer user">
  <div *ngIf="selectedUser"></div>
  <div class="row">
    <div *ngIf="selectedUser">
      <h2 class="text-center wowload fadeInUp">Company Profile</h2>

      <div class="col-sm-12 animated fadeInRightBig" style="background: rgba(225, 225, 225, .8)">
      <h4>
       <b><u>{{selectedUser.name | uppercase}}</u></b>
      </h4>
        <p>Status : Active</p>
        <p>Since : 12 August 2003</p>
        <p>Rating : <i class="fa fa-star"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i> </p>
      </div>
      <div class="col-sm-3"><p><button class="btn btn-primary" (click)="gotoDetail()"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;&nbsp;View Details</button></p></div>
      <div class="col-sm-3"></div>
       <div class="col-sm-3"></div>
    </div>
  </div>
</div>
